body{
    margin:0px; padding:0px;
}
h1{
    font-size: 3em;
    font-weight: bolder;
    color: rgb(56, 51, 51);
    text-align: center;
}
h2{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.donation-container{
    width: 100vw;
}
.donation-info{
    background-image: url("../assets/together.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 300px;
}
.donation-facts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 150px;
    margin: auto;
    width: 80%;
    border: 3px solid purple;
    padding: 10px;
    text-align: center;
}
.fact1{
    background-image: url("../assets/money.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px;
}
.fact2{
    background-image: url("../assets/puple-ribbon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px;
}
.fact3{
    background-image: url("../assets/research.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px;
}

.user-container {
	height: 700px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 20px;
	margin-top: 70px;
}

.donation-box {
	width: 500px;
	height: 600px;
	background-color: #F5F5F5;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.donation-box .title {
	background-color: plum;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: white;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 25px;
}

.donation-box .donate-button {
	background-color: plum;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
	bottom: 0px;
	position: absolute;
	cursor: pointer;
	font-weight: 800;
}

.donation-box .fields {
	width: 59%;
	display: block;
	position: absolute;
	top: 100px;
	left: 15px;
}

.donation-box .fields input {
	width: 90%;
	font-size: 20px;
	padding: 15px;
	border-radius: 4px;
	border-width: 0px;
	color: #5C5C5C;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 10px;
	-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
   color: #cdcdcd;
   font-size: 15px;
}

:-ms-input-placeholder {  
   color: #cdcdcd;
   font-size: 15px;
}

.donation-box .amount {
	width: 30%;
	display: block;
	position: absolute;
	top: 130px;
	right: 15px;
}

.donation-box .amount .button {
	width: 100%;
	background-color: gray;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	padding: 15px 0px 15px 0px;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
	
	-webkit-transition: 400ms background-color;
	-moz-transition: 800ms opacity, 800ms right;
	-ms-transition: 800ms opacity, 800ms right;
	-o-transition: 800ms opacity, 800ms right;
	transition: 200ms background-color;
}

.donation-box .amount .button:hover {
	background-color: #393939;
}

.donation-box .amount .button.selected {
	background-color: #393939;
}

.donation-box .amount .button input {
	min-width: 34px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	color: white;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-bottom: 2px dashed white;
	-webkit-font-smoothing: antialiased;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.set-amount {
	max-width: 96px;
}

.switch {
  position: absolute;
  top: 400px;
  left: 55px;
  margin: 20px auto;
  height: 30px;
  width: 58.5%;
  background: white;
  border-radius: 3px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 49%;
  line-height: 26px;
  font-size: 15px;
  color: #5C5C5C;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: white;
  
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 114px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 49%;
  height: 22px;
  background: #942886;
  border-radius: 3px;
  background-color: rgb(116, 34, 102);
  
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.checkboxes {
	position: absolute;
	top: 300px;
    left: 20px;
}

.checkboxes label {
	position: relative;
	top: -8px;
	font-size: 20px;
	color: gray;
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid rgb(206, 18, 143);
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    outline: none;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.checkbox:checked {
	background-color: rgb(146, 28, 117);
	border: 1px solid rgb(134, 19, 115);
	color: white;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: white;
}
