.nav-container
{

   display: flex;
   justify-content: center;
   background: 	#8A2BE2;
   height:100px;
   width: 100%;
   position: sticky;
   top:0;

}

#home, #about, #contact{
	padding-right: 5%;
	height:20%;
	line-height: 100px;



}

#donate
{
	line-height: 100px;
	background: #DC143C;
	height: 100px;
}



}

#donate-bot{ height: 90px; }

.foot
{  
    display: flex;
    justify-content: center;
	width: 100%;
	background:#8A2BE2; 
	height: 100px;
	
	

	
	
	
}
.foot a { 
			padding-right: 1%;
			line-height: 100px;
			height:20%;
			padding: 20px;


 }


 body{ height: 30000px; }